@using System
@using System.Text.Encodings.Web
@using System.Threading.Tasks
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model GitMonitor.Models.MonitoredPathConfig
<div class="container-fluid">
    <div class="row">
        <div class="card-body">
            @if (@ViewData["StartDateTime"] != null && !string.IsNullOrEmpty(@ViewData["StartDateTime"].ToString()))
            {
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Index" method="post">
                        date range <input asp-for="StartDateTime" type="date" value="@ViewData["StartDateTime"]" /> to <input asp-for="EndDateTime" type="date" value="@ViewData["EndDateTime"]" /> <button type="submit" class="btn btn-outline-primary btn-sm">OK</button>
                    </form>
                </div>
            }
            else
            {
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Index" method="post">
                        date range <input asp-for="StartDateTime" type="date" value="@DateTime.Now.AddDays(-2).ToString("yyyy-MM-dd")" /> to <input asp-for="EndDateTime" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" /> <button type="submit" class="btn btn-outline-primary btn-sm">OK</button>
                    </form>
                </div>
            }
        </div>
        @if (Model.Search != null && Model.Search.Commits != null && Model.Search.Commits.Any())
        {
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header">Commit Found</div>
                    <div class="card-body">
                        @foreach (var commit in Model.Search.Commits)
                        {
                            <table class="table table-hover table-sm table-responsive">
                                <tr>
                                    <td><span class="text-muted"><a href="@commit.RepositoryUrl" target="_blank">@commit.RepositoryName</a></span> - 
                                        <span class="text-muted">
                                            @if (string.IsNullOrWhiteSpace(@commit.CommitUrl))
                                            {
                                                @commit.Sha
                                            }
                                            else
                                            {
                                                <a href="@commit.CommitUrl" target="_blank">@commit.Sha</a>
                                            }
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">@commit.Author <a href="mailto:@commit.AuthorEmail?subject=@commit.Sha" target="_blank">@commit.AuthorEmail</a></span> <span class="text-muted">@commit.CommitterWhen</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-muted">@commit.Message</span></td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model != null)
            {
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#allcommits" data-toggle="tab"><small>All - @Model.ActiveMonitoredPath.Commits.Count</small></a></li>
                @foreach (var repo in @Model.ActiveMonitoredPath.Repositories)
                    {
                        if (repo.CommitCount > 0)
                        {
                            <li class="nav-item"><a class="nav-link" href="#@UrlEncoder.Default.Encode(@repo.FriendlyName)" data-toggle="tab"><small>@repo.FriendlyName - @repo.CommitCount</small></a></li>
                        }
                    }
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" role="tabpanel" id="allcommits">
                    <table class="table table-hover table-sm table-responsive">
                        <thead class="thead-default">
                            <tr>
                                <th>Repository</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Commit</th>
                                <th>Info</th>
                                <th class="col-md-12">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var commit in @Model.ActiveMonitoredPath.Commits)
                                {
                                <tr>
                                    <td nowrap>@commit.RepositoryFriendlyName</td>
                                    @if (@commit.CommitterWhen.ToString("dd MMM yyy") == DateTime.Now.ToString("dd MMM yyy"))
                                        {
                                        <td nowrap>@commit.CommitterWhen.ToString("HH:mm") </td>
                                        }
                                        else if (@commit.CommitterWhen > DateTime.UtcNow.AddDays(-7))
                                        {
                                        <td nowrap>@commit.CommitterWhen.ToString("ddd HH:mm") </td>
                                        }
                                        else
                                        {
                                        <td nowrap>@commit.CommitterWhen.ToString("dd MMM yy") </td>
                                        }
                                    <td nowrap>@commit.Author</td>
                                    @if (string.IsNullOrWhiteSpace(@commit.CommitUrl))
                                        {
                                        <td>@commit.Sha.Substring(0, 7) </td>
                                        }
                                        else
                                        {
                                        <td><a href="@commit.CommitUrl" target="_blank">@commit.Sha.Substring(0, 7)</a></td>
                                        }
                                    <td><a asp-controller="Home" asp-action="Index" asp-route-sha="@commit.Sha"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                                    @if (@commit.IsMerge)
                                        {
                                        <td>
                                            <p class="text-muted">@commit.Message</p>
                                        </td>
                                        }
                                        else
                                        {
                                        <td>@commit.Message</td>
                                        }
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
                @foreach (var mp in @Model.ActiveMonitoredPath.Repositories)
                {
                    if (mp.CommitCount > 0)
                    {
                    <div class="tab-pane fade" role="tabpanel" id="@mp.FriendlyName">
                        <table class="table table-hover table-sm table-responsive">
                            <thead class="thead-default">
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Commit</th>
                                    <th>Info</th>
                                    <th class="col-md-12">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var commit in @Model.ActiveMonitoredPath.Commits)
                                        {
                                            if (@mp.FriendlyName == @commit.RepositoryFriendlyName)
                                            {
                                        <tr>
                                            @if (@commit.CommitterWhen.ToString("dd MMM yyy") == DateTime.Now.ToString("dd MMM yyy"))
                                                    {
                                                    <td nowrap>@commit.CommitterWhen.ToString("HH:mm") </td>
                                                    }
                                                    else if (@commit.CommitterWhen > DateTime.UtcNow.AddDays(-7))
                                                    {
                                                    <td nowrap>@commit.CommitterWhen.ToString("ddd HH:mm") </td>
                                                    }
                                                    else
                                                    {
                                                    <td nowrap>@commit.CommitterWhen.ToString("dd MMM yy") </td>
                                                    }
                                            <td nowrap>@commit.Author</td>
                                            @if (string.IsNullOrWhiteSpace(@commit.CommitUrl))
                                                    {
                                                    <td>@commit.Sha.Substring(0, 7)</td>
                                                    }
                                                    else
                                                    {
                                                    <td><a href="@commit.CommitUrl" target="_blank">@commit.Sha.Substring(0, 7)</a></td>
                                                    }
                                            <td><a asp-controller="Home" asp-action="Index" asp-route-sha="@commit.Sha"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></td>
                                            @if (@commit.IsMerge)
                                                    {
                                                    <td>
                                                        <p class="text-muted">@commit.Message</p>
                                                    </td>
                                                    }
                                                    else
                                                    {
                                                    <td>@commit.Message</td>
                                                    }
                                        </tr>
                                            }
                                        }
                            </tbody>
                        </table>
                    </div>
                        }
                    }
            </div>
            }
        </div>
    </div>
</div>